$font-titles: 'Song Myung', serif;
$font-text: 'Open Sans', sans-serif;
$font-emphasis: 'Courgette', cursive;

$colors: (
  primary: #c12626,
  secundary: #dddddd,
  light: #f4f2e8,
  bg: #fff,
  cta: #d69960,
  text: #333,
  dark: #153a5e
);

$gutter: 1rem;
$max-width: 1024px;
