.main-banner {
  min-height: 90vh;

  @include is-center;

  &__container {
    @include is-center;
  }

  &__data {
    width: 60%;
    margin: 0;
    padding: $gutter;

    @media screen and (max-width: 640px) {
      width: 90%;
    }
  }

  &__title {
    margin-top: 0;
  }
}