.affiliate {

  &__card {
    height: 250px;
    width: 220px;
    border: 6px solid colors(light);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1em auto;
    @include box-shadow;
  }

  &__caption {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(colors(dark), .8);
    color: colors(light);
    width: 100%;
    position: absolute;
    bottom: -100px;
    transition: all .5s linear;
  }

  &__card:hover &__caption {
    bottom: 0;
  }
}



