@mixin banner($url, $hero: false, $path: $container-path) {
  padding: 4rem $gutter;
  margin: 3rem auto;
  
 @if ($hero) {
  background: colors(cta);
  background: linear-gradient(to right, colors(dark), colors(cta));

 } @else {
  background: url($url);
}
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clip-path: $path;
}

@mixin box-shadow {
  box-shadow: 0 10px 10px -5px rgba(colors(text), .8),
              0 20px 10px -10px rgba(colors(text), .4)
}

@mixin is-center {
  display: flex;
  justify-content: center;
  align-items: center;  
}

@mixin components {
  @include is-center;
  flex-wrap: wrap;
}