@mixin banner($url, $hero: false, $path: $container-path) {
  padding: 5em $gutter;
  margin: 5em auto;
  
 @if ($hero) {
  background: linear-gradient(to right, rgba(colors(cta), .1), rgba(colors(cta), .9)), url($url);
 } @else {
  background: url($url);
}
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clip-path: $path;
}

@mixin box-shadow {
  box-shadow: 0 10px 10px -5px rgba(colors(text), .8),
              0 20px 10px -10px rgba(colors(text), .4),
}

@mixin components {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}