$font-titles: 'Song Myung', serif;
$font-text: 'Open Sans', sans-serif;
$font-emphasis: 'Courgette', cursive;

$colors: (
  primary: #e53935,
  secundary: #e35d5b,
  light: #f4f2e8,
  bg: #fff,
  cta: #24C6DC,
  text: #333,
  dark: #514A9D
);

// Z-Index
$z-normal: 1;
$z-tools: 10;
$z-widget: 100;
$z-modal: 1000;


// Config
$gutter: 1rem;
$max-width: 1024px;
$container-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);