$font-titles: 'Song Myung', serif;
$font-text: 'Open Sans', sans-serif;
$font-emphasis: 'Courgette', cursive;

$colors: (
  primary: #c12626,
  secundary: #dddddd,
  light: #f4f2e8,
  bg: #fff,
  cta: #d69960,
  text: #333,
  dark: #153a5e
);

// Z-Index
$z-normal: 1;
$z-tools: 10;
$z-widget: 100;
$z-modal: 1000;


// Config
$menu-height: 100px;
$gutter: 1rem;
$max-width: 1024px;
$container-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);