.main-nav {
  background-color: rgba(colors(primary), 1);
  border-bottom: 1px solid colors(secundary);
}

.navbar {
  color: colors(secundary);

  &__link {
    color: inherit;
  }

  &__item {
    padding: $gutter / 2;
    transition: all .5s;

    &:hover {
      color: colors(primary);
      background-color: rgba(colors(secundary), .8);
      border-radius: 5px;
    }
  }
}