.main-banner {
  $path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  $url: "/img/medical-consultory-02.jpg";
  @include banner($url, true, $path);

  &__data {
    color: colors(secundary);
    background-color: rgba(colors(dark), .8);
    border-radius: 10px;
  }

  &__title {
    font-size: 3em;
    font-family: $font-emphasis;
  }

  &__text {
    font-size: 1.5em;
  }

  &__img {
    width: 40%;
  }
}
