.main-nav {
  background: colors(primary);
  background: linear-gradient(to right, colors(secundary), colors(primary));
  border-bottom: 1px solid colors(light);
}

.navbar {
  color: colors(light);

  &__link {
    color: inherit;
  }

  &__item {
    padding: .2rem $gutter / 2;
    transition: all .5s;

    &:hover {
      color: colors(primary);
      background-color: rgba(colors(light), .8);
      border-radius: 5px;
    }
  }
}