body {
  background-color: colors(bg);
  font-family: $font-text;
}

.title {
  font-family: $font-titles;
  font-size: 2.5em;
  margin: 2 * $gutter auto;
  color: colors(text);
  text-align: center;
}