<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Courgette|Open+Sans|Song+Myung" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Medical Website</title>
</head>
<body>
    <div id="app">
        <nav class="main-nav">
            <div class="main-nav__container">
                <a class="logo" href="#start">
                    <img src="http://via.placeholder.com/150x50" alt="logo">
                </a>
                <ul class="navbar">
                    <li class="navbar__item">
                        <a class="navbar__link" href="#start">
                            <span class="fa fa-home"></span>
                            <span class="navbar__text">Inicio</span> 
                        </a>
                    </li>

                    <li class="navbar__item">
                        <a class="navbar__link" href="#about_us">
                            <span class="fa fa-users"></span>
                            <span class="navbar__text">Conócenos</span> 
                        </a>
                    </li>

                    <li class="navbar__item">
                        <a class="navbar__link" href="#services">
                            <span class="fa fa-hospital"></span>
                            <span class="navbar__text">Servicios</span>
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="#affiliates">
                            <span class="fa fa-ambulance"></span>
                            <span class="navbar__text">Clínicas Afiliadas</span>
                        </a>
                    </li>

                    <li class="navbar__item">
                        <a class="navbar__link" href="#contact_us">
                            <span class="fa fa-phone"></span>
                            <span class="navbar__text">Contacto</span> 
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <header class="main-banner" id="start">
            <div class="main-banner__container">
                <div class="main-banner__data">
                    <h2 class="main-banner__title">Lorem, ipsum dolor.</h2>
                    <div class="main-banner__text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quo beatae laborum cum, consequatur.
                    </div>
                </div>
                <img class="main-banner__img" src="img/nurse.png" alt="foto de un enfermera">
            </div>
        </header>
        <h2 id="about_us" class="title">¿Quiénes Somos?</h2>
        <main class="aboutus container">
            <div class="tabs-container">
                <ul class="tabs" id="tabs">
                    <li class="tabs__item active">Funcion</li>
                    <li class="tabs__item">Mision</li>
                    <li class="tabs__item">Vision</li>
                </ul>
                <div class="panels">
                    <div class="panels__item active">
                        <img src="http://via.placeholder.com//360/240" alt="imagen generica" class="aboutus-img">
                        <p class="aboutus-paragraph">Primer Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ab nam reprehenderit consequatur, corrupti possimus ex et laborum facilis error repellendus nesciunt deserunt aliquam reiciendis dolor debitis, illo id totam?</p>
                    </div>
                    <div class="panels__item">
                        <img src="http://via.placeholder.com//360/240" alt="imagen generica" class="aboutus-img">
                        <p class="aboutus-paragraph">Segundo Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ab nam reprehenderit consequatur, corrupti possimus ex et laborum facilis error repellendus nesciunt deserunt aliquam reiciendis dolor debitis, illo id totam?</p>
                    </div>
                    <div class="panels__item">
                        <img src="http://via.placeholder.com//360/240" alt="imagen generica" class="aboutus-img">
                        <p class="aboutus-paragraph">Tercero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ab nam reprehenderit consequatur, corrupti possimus ex et laborum facilis error repellendus nesciunt deserunt aliquam reiciendis dolor debitis, illo id totam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dicta autem nulla quas dolores corrupti enim nemo provident, officiis consequuntur quae id magni aut, illo
                    </div>
                </div>
            </div>
        </main>
        <h2 id="services" class="title">Nuestros Servicios</h2>
        <section id="services_component" class="services container">
            <service v-for="(service, index) in services"
                :title="service.title"
                :image="service.image"
                :description="service.description"
                :key="index"
                >
            </service>
        </section>
        <h2 id="affiliates" class="title">Clínicas Afiliadas</h2>
        <section id="affiliates_component" class="affiliates container">
            <affiliate
            v-for="(affiliate, index) in affiliates"
                    :name="affiliate.name"
                    :phone="affiliate.phone"
                    :image="affiliate.image"
                    :key="index"
                    >
            </affiliate>
        </section>
        <footer class="main-footer">
            <h2 id="contact_us" class="title">Información de Contacto</h2>
            <div class="contact-us container">
                <div class="contact-us__left">
                    <h3 class="contact-us__title">Oficina Ciudad 01</h3>
                    <ul class="contact-us__phone">
                        <li><span class="fa fa-phone"></span>0500 000 00 00</li>
                        <li><span class="fa fa-phone"></span>0500 000 00 00</li>
                        <li><span class="fa fa-at"></span>example@mail.com</li>
                    </ul>
                </div>
                <div class="contact-us__right">
                    <h3 class="contact-us__title">Oficina Ciudad 02</h3>
                    <ul class="contact-us__phone">
                        <li><span class="fa fa-phone"></span>0500 000 00 00</li>
                        <li><span class="fa fa-phone"></span>0500 000 00 00</li>
                        <li><span class="fa fa-at"></span>example@mail.com</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
